:root {
  --black: #000;
  --white: #fff;

  --blue-100: #1a78f2;
  --blue-90: #6896d1;

  --neutral-100: #12153a;
  --neutral-200: #2b3641;
  --neutral-300: #4f6071;
  --neutral-400: #677582;
  --neutral-500: #88939d;

  --gray-600: #9fa7af;
  --gray-700: #bcc2c8;
  --gray-800: #d3d8dd;
  --gray-900: #eaeef3;
  --gray-950: #f4f7f9;

  --transition-300: all 300ms ease;
  --transition-500: all 500ms ease;
}
.react-calendar {
  width: 450px;
  max-width: 100%;
  /* background: red; */
  border: 1px solid #acaca5;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-top: 2rem;
  border: none;
    /* width: 50rem; */
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50rem;
}

.react-calendar button {
  margin: 0;
  /* border: 1px solid red; */
  outline: none;

}


.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 4rem;
  flex-direction: row;
  align-items: center;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  border: none;
  font-size: 2rem;
}

.react-calendar__navigation button:last-of-type, 
.react-calendar__navigation button:first-of-type {
display: none;
}

.react-calendar__navigation button:nth-child(2), 
.react-calendar__navigation button:nth-child(4){
  border-radius: 10px;
  width: 4rem;
  height: 3rem;
} 
.react-calendar__month-view__weekdays  abbr {
  text-decoration: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
/* 
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
} */

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
font-weight: 600;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: var(--gray-900);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-color:  var(--blue-100);
  color: var(--white);
}

.react-calendar__tile--hasActive {
  background: none;
  visibility: var(--white);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  border-color: var(--blue-100) !important;
  color: var(--blue-100);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border-color: var(--blue-100);
  color: var(--blue-100);
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}


/* .react-calendar__month-view__days__day {
  flex: 0 0 12%;  
} */

.react-calendar__month-view__weekdays div {
  flex: 0 0 5%;
}

.react-calendar__month-view__days {
  gap: 0.45rem;
}
.react-calendar__month-view__days button {
  /* background-color: red; */
  border-radius: 10px;
  flex: 0 0 13.5% !important;
  border: 1px solid var(--gray-800);
}

.react-calendar__year-view .react-calendar__tile {
  /* border: none !important;
 */

 border-radius: 15px;
 border: 2px solid var(--gray-600);
 margin: .1rem;
 flex: 0 0 32.5% !important; 
}

@media (max-width: 802px) {
  .react-calendar, .react-calendar *, .react-calendar *:before, .react-calendar *:after {
    width: 100% !important;
    /* margin: 1rem !important; */
  }

  .react-calendar__month-view__days  {
    gap: .4rem !important;
  }

  .react-calendar__month-view__days button  {
    width: 13% !important;
  }
}

@media (max-width: 751px){
  .react-calendar__month-view__days  {
    gap: .35rem !important;
  }
}
@media (max-width: 650px){
  .react-calendar__month-view__days  {
    gap: .30rem !important;
  }
}
@media (max-width: 560px){
  .react-calendar__month-view__days  {
    gap: .25rem !important;
  }
}
@media (max-width: 480px){
  .react-calendar__month-view__days  {
    gap: .18rem !important;
  }
}